<header>
    <nav class="header" >
        <a class="nav-button header-item" href="#home" (click)="scrollTo('home')" [class.active]="activeSection === 'home'">
          <span class="material-icons-outlined">home</span>
          <span class="tooltip">Home</span>
        </a>
        <a class="nav-button header-item" href="#experience" (click)="scrollTo('experience')" [class.active]="activeSection === 'experience'">
          <span class="material-icons-outlined">work</span>
          <span class="tooltip">Experience</span>
        </a>
        <a class="nav-button header-item" href="#projects" (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">
          <span class="material-icons-outlined">folder</span>
          <span class="tooltip">Projects</span>
        </a>
        <a class="nav-button header-item" href="#contact" (click)="scrollTo('contact')" [class.active]="activeSection === 'contact'">
          <span class="material-icons-outlined">mail</span>
          <span class="tooltip">Contact</span>
        </a>
        <a class="nav-button header-item" href="#about" (click)="scrollTo('about')" [class.active]="activeSection === 'about'">
          <span class="material-icons-outlined">person</span>
          <span class="tooltip">About</span>
        </a>
        <a (click)="toggleTheme()" class="theme-toggle nav-button header-item">
          <span class="material-symbols-outlined">
            {{ isDarkMode ? 'dark_mode' : 'light_mode' }}
          </span>
        </a>
      </nav>
  </header>
