.experience-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.timeline-container{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
    width: 100%;
}

.experience::before{
    position: absolute;
    content: '';
    background-color: var(--background-yellow);
    left: 50%;
    top: -50%;
    height: 200%;
    width:5px;
    /* border-radius: 100%; */
}

.experience{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}
.experience-content{
    /* border: 1px solid black; */
    width: 100%;
    padding: 5%;
    border: 2px solid var(--text-color);
    border-radius: var(--radius-small);
    position: relative;
    /* height: 100px; 
    /* aspect-ratio: 4/1; */
    transition: .4s;
    background-color: var(--background-yellow) !important;
}

.experience-content .company{
    display: flex;
    width: 70%;
    align-items: flex-end;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom:4%;
    
}
.experience-content .company img{
    width:30%;
    /* aspect-ratio: 2/1; */
}

.experience-content .company h4{
    font-size: 1rem;
    margin-left: auto;
    min-width: fit-content;
    /* word-break: keep-all !important; */
    
}
.experience::after{
    position: absolute;
    content: '';
    background-color: var(--background-yellow);
    height: 5px;
    width: 10%;
    top: 50%;
}
.experience:nth-child(odd){
    padding-right: 60%;
    justify-content: flex-end;
}

.experience:nth-child(odd)::after{
    left:40%;
}
.experience:nth-child(even){
    justify-content: flex-start;
    padding-left: 60%;
}

.experience:nth-child(even)::after{
    right: 40%;
}



.read-more{
    background:none ;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0) ;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.read-more:hover{
    border: 1px solid;
    transition: .4s;
    /* background-color: gray; */
}

.close{
    background:none ;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0) ;
    position: absolute;
    right: 5%;
    top: 5%;
}

.active-experience{
    position: fixed;   
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 5%;
    height: 80%;
    background-color: white !important;
    z-index: 2;
    transition: .4s;
}





@media (max-width: 600px) {
    .experience{
        padding: 5% 0;
    }

    .experience::before{
        top:-10%;
        height: 120%;
    }

    .experience:nth-child(odd)::before{
        left: 90%;
    }

    .experience:nth-child(odd){
        padding-right: 20%;
        justify-content: flex-end;
    }
    
    .experience:nth-child(odd)::after{
        left:80%;
    }
    .experience:nth-child(even){
        justify-content: flex-start;
        padding-left: 20%;
    }
    
    .experience:nth-child(even)::after{
        right: 80%;
    }
    .experience:nth-child(even)::before{
        left: 10%;
    }
}
  
  /* 📺 Tablets (600px - 1024px) */
  @media (min-width: 600px) and (max-width: 1024px) {
    
  }