<div class="experience-container" >
    <nav class="header" >
        <a (click)="activeitem=i" class="header-item" [class.active]="activeitem === i"  *ngFor="let item of experiences; let i = index">
            <span>{{item.company}}</span>
        </a>
    </nav>

    <section class="about-experience" >
        <div class="experience-images" >
            <img [src]="experiences[activeitem].logo" alt="">
        </div>
        <div class="experience-content" >
            <small>{{experiences[activeitem].timePeriod}}</small>
            <h1>{{experiences[activeitem].company}}</h1>
            <p>{{experiences[activeitem].about.slice(0,500)}}</p>
        </div>
    </section>
</div>


