<app-night-sky *ngIf="isDarkMode && false"></app-night-sky>
<app-light-sky *ngIf="!isDarkMode && false"></app-light-sky>

<app-header></app-header>

<section class="container" id="home">
  <app-home></app-home>
</section>
<section class="container" id="experience">
  <app-experience class="w-full" ></app-experience>
</section>
<section class="container" id="projects">
  <app-projects></app-projects>
</section>
<section class="container" id="contact">
  <app-contact></app-contact>
</section>
<section class="container" id="about">
  <app-about></app-about>
</section>
