/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 80%;
}

.bg-dot-grid {
    background-color: #fffff0;
    background-image: radial-gradient(#e0e0e0 2px, transparent 2px);
    background-size: 32px 32px;
    background-attachment: fixed; /* Optional: keeps dots static while scrolling */
  }
  
  /* Dark mode override for dot grid */
  /* This triggers when the <html> tag has the 'dark' class */
  .dark .bg-dot-grid {
    background-color: #1a1a16;
    background-image: radial-gradient(#333333 2px, transparent 2px);
  }
/* ... Rest of  custom CSS ... */

/* Disable Text Selection */
.no-select, .no-select * {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For Internet Explorer/Edge */
}

/* Remove Tap Highlight on Mobile */
.no-tap-highlight, .no-tap-highlight * {
  -webkit-tap-highlight-color: transparent;
}

/* Apply to the whole app */
body {
  @apply no-select no-tap-highlight;
}
