<section class="home-container container">
  <div class="home-content">
    <p>----------- Hello World <span>👋 </span></p>
    <h1>
      I am <span> Himanshu </span>
    </h1>
    <h2>Full-Stack Developer | 3 Years Experience</h2>
    <p>
      Specialized in MEAN & MERN Stack, NestJS, SQL TypeORM, and React Native.
      Passionate about scalable web applications and modern UI/UX. Specialized in MEAN & MERN Stack, NestJS, SQL TypeORM, and React Native.
      Passionate about scalable web applications and modern UI/UX.Specialized in MEAN & MERN Stack, NestJS, SQL TypeORM, and React Native.
      Passionate about scalable web applications and modern UI/UX.
    </p>
  </div>

  <div class="home-image">
    <img src="assets/profile.png" alt="Your Profile">
  </div>
</section>