name: Deploy Angular Portfolio
on:
  push:
    branches:
      - master # Triggers the deployment when you push to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Ensure this matches your Angular requirement
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Build Angular App
        run: npm run build -- --configuration production
        
      - name: Deploy to GCP VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USERNAME }}
          key: ${{ secrets.GCP_SSH_KEY }}
          source: "dist/portfolio/browser/*"
          target: "/var/www/html"
          strip_components: 3